@model IEnumerable<skjatextar.Models.Video>
@{
    ViewBag.Title = "Hlaða inn skrá";
}

<h3 style="color:green">@ViewBag.Message</h3>

@using (Html.BeginForm("LoadNewFile", "Translation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary();

    <fieldset class="FieldFont">
        <legend>Hlaða inn skrá</legend>
        <ul class="uolist">
            <li class="lifile">
                <label for="Translation" id="labelinn" class="Labelmargin">Veldu skrá :</label>
                <input type="file" id="fileToUpload" name="Translation" />
                <span class="field-validation-error" id="spanfile"></span>
            </li>
            <li class="dropdownvideo">
                <label for="ValinMynd" id="labelinn"> Veldu myndefni : </label>
                <select name="ValinMynd" class="biomynd">
                    <option selected="selected" class="VideoDropdown" id="dropdownlisti"> -  </option>
                    @foreach (var item in Model)
                    {

                        <option value="@item.Name" id="dropdownlisti" class="VideoDropdown">@item.Name</option>
                    }
                </select>
                <span>
                    <span id="notFoundInList">
                        @Html.ActionLink("Ef myndefni er ekki í lista smelltu hér", "CreateVideo", "Video", new { }, null)
                    </span>
                </span>
            </li>
        </ul>
            <div class="DeafPeople">
            <label for="DeafCheck" id="label">Fyrir heyrnaskerta?</label> 
            <input type="checkbox"name="DeafCheck"/>
            </div>

        <input type="submit" id="btnSubmit" class="btn btn-default" value="Hlaða inn skrá" />
    </fieldset>
}
