@model IEnumerable<skjatextar.Models.Video>


<h3 style="color:green">@ViewBag.Message</h3>

@using (Html.BeginForm("LoadNewFile", "Translation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary();

    <fieldset>
        <legend>Bæta við skrá</legend>
        <ol>
            <li class="lifile">
                <input type="file" id="fileToUpload" name="Translation" />
                <span class="field-validation-error" id="spanfile"></span>
            </li>
            <li>
                <select name="ValinMynd">
                    @foreach (var item in Model)
                    {
                        <option value="@item.Name" id="dropdownlisti" class="VideoDropdown">@item.Name</option>
                    }
                </select> 
                @Html.ActionLink("Ef mynd er ekki í lista ýttu hér", "CreateVideo", "Video", new{}, null)
            </li>
            <li>Sérstaklega fyrir heyrnalausa?
            <input type="radio"name="DeafCheck"/>Já<input type="radio" name="Deafcheck2"/>Nei</li>
        </ol>
        <input type="submit" id="btnSubmit" value="Upload" />
    </fieldset>
}
