@model IEnumerable<skjatextar.Models.Video>


<h3 style="color:green">@ViewBag.Message</h3>

@using (Html.BeginForm("LoadNewFile", "Translation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary();

    <fieldset>
        <legend>Bæta við skrá</legend>
        <ul>
            <li class="lifile">
                <label for="Translation" id="labelinn">Veldu skrá</label>
                <input type="file" id="fileToUpload" name="Translation" value="Veldu skrá" />
                <span class="field-validation-error" id="spanfile"></span>
            </li>
            <li class="dropdownvideo">
                <select name="ValinMynd" class="biomynd" >
                    <option selected="selected" class="VideoDropdown" id="dropdownlisti"> - Veldu titil  </option>
                    @foreach (var item in Model)
                    {   
                        
                        <option value="@item.Name" id="dropdownlisti" class="VideoDropdown">@item.Name</option>
                    }
                </select>
                @Html.ActionLink("Ýttu hér ef titill er ekki í lista", "CreateVideo", "Video", new { }, null)
            </li>
            <li class="DeafPeople">Fyrir heyrnalausa?
            <input type="checkbox"name="DeafCheck"/>
        </ul>
        <input type="submit" id="btnSubmit" value="Hlaða inn skrá" />
    </fieldset>
}
