@model skjatextar.Models.ViewModel.VideoAndTranslationViewModel

@{
    ViewBag.Title = "ViewVideo";
}
<div class="centerText">
    <h2>@Model.ThisVideo.Name/h2>
    <div id="content-home">
        <table class="table table-striped tableTranslations">
            <thead class="viewVideoTableHead">
                <tr>
                    <th class="translations">Titill</th>
                    <th>Atkvæði</th>
                    <th>Síðast uppfært</th>
                    <th>Fyrir heyrnalausa<span class="glyphicon glyphicon-deaf"></span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ThoseTranslations)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Title, "ViewTranslation", "Home", new { id = item.ID }, null)</td>
                        <td>@item.LikeCount</td>
                        <td>@item.DateLastEdited.ToString("dd.MM.yyyy. HH:mm")</td>
                        <td>@item.DeafCheck</td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.ActionLink("Til baka", "Videos")
    </div>
</div>
