@model skjatextar.Models.Translation
@{
    ViewBag.Title = "ViewTranslation";
}

<h2>@Model.Title</h2>

<div>
    <table>
        <tbody>
            <tr>
                <td>
                    Nafn:
                </td>
                <td>
                    @Model.Title
                </td>
            </tr>
            <tr>
                <td>
                    Atkvæði:
                </td>
                <td>
                    <div>@Model.LikeCount @Html.ActionLink("Þessi þýðing fær mitt atkvæði", "LikeFunction",  new { id = Model.ID }, null)</div>
                </td>
            </tr>
            <tr>
                <td>
                    Síðast uppfært:
                </td>
                <td>
                    @Model.DateLastEdited
                </td>
            </tr>
            <tr>
                <td>
                    Sérstaklega fyrir heyrnalausa: 
                </td>
                <td>
                    @Model.DeafCheck
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br />
@using (Html.BeginForm())
{
    <div class="GetTranslationById">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="File://localhost/C:/Users/Petur/Documents/prufa/test.srt" download="PeturYouAreAGenious.srt"><input type="submit" value="Download" /></a>
            </div>
        </div>
    </div>
}
@Html.ActionLink("Breyta þessari þýðingu" , "Edit", "Translation", new { id = Model.ID }, null)

