@model skjatextar.Models.Translation
@{
    ViewBag.Title = "ViewTranslation";
}

<h2>@Model.Title</h2>

<div>
    @Model.Title
    @Model.LikeCount
    @Model.DateLastEdited
    @Model.DeafCheck
    @Model.Text
</div>

<br />
@using (Html.BeginForm())
{
    <div class="GetTranslationById">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="File://localhost/C:/Users/Petur/Documents/prufa/test.srt" download="PeturYouAreAGenious.srt"><input type="submit" value="Download" /></a>
            </div>
        </div>
    </div>
}

