@model skjatextar.Models.TranslationAndCommentViewModel
@{
    ViewBag.Title = "ViewTranslation";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/scripts.js")"></script>
}

<h2>@Model.ThisTranslation.Title</h2>

<div>
    <table>
        <tbody>
            <tr>
                <td>
                    Nafn:
                </td>
                <td>
                    @Model.ThisTranslation.Title
                </td>
            </tr>
            <tr>
                <td>
                    Atkvæði:
                </td>
                <td>
                    <div class="likeTranslation">@Model.ThisTranslation.LikeCount @Html.ActionLink("Þessi þýðing fær mitt atkvæði", "LikeFunction", new { id = Model.ThisTranslation.ID }, null)</div>
                </td>
            </tr>
            <tr>
                <td>
                    Síðast uppfært:
                </td>
                <td>
                    @Model.ThisTranslation.DateLastEdited
                </td>
            </tr>
            <tr>
                <td>
                    Sérstaklega fyrir heyrnalausa: 
                </td>
                <td>
                    @Model.ThisTranslation.DeafCheck
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br />

    <div class="GetTranslationById">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Niðurhala Skjátexta sem .srt", "DownloadTranslationSrt", new { id = Model.ThisTranslation.ID })
            </div>
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Niðurhala skjátexta sem .txt", "DownloadTranslationTxt", new { id = Model.ThisTranslation.ID })
            </div>
        </div>
    </div>

@Html.ActionLink("Breyta þessari þýðingu", "Edit", "Translation", new { id = Model.ThisTranslation.ID }, null)

<ul class="list-group comments">
    @foreach (var item in Model.ThoseComments)
    {
        <li class="list-group-item">
            <p>
                <span class="glyphicon glyphicon-user"></span>
                <span class="text-primary">@Html.DisplayFor(modelItem => item.UserName)</span>
            </p>
            <p>
                <span>@Html.DisplayFor(modelItem => item.CommentText) </span>
            </p>
            <p>
                <span class="text-muted">@item.commentDate.ToString("dd. MMMM HH:mm") </span>
                <!-- Like takki -->
                @*<span>@item.LikeCount @Html.ActionLink("Like", "LikeFunction", new { id = item.ID }, null)</span><span class="glyphicon glyphicon-thumbs-up"></span>*@
            </p>
            @*<ul class="list-unstyled likes-for-id"></ul>*@
        </li>

    }
</ul>

<li class="list-group-item" style="max-width: 560px;">
@using (Html.BeginForm("AddComment", "Home", new { id = Model.ThisTranslation.ID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div id="form-horizontal">
        @Html.TextAreaFor(model => model.ThisComment.CommentText)
        <input type="submit" value="Senda inn" class="btn btn-default" />
    </div>
}
</li>


