@model skjatextar.Models.RequestViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group allTextToCenter">
            <div class="col-md-10">
                <p>
                    <span class="newRequest">Titill: </span>
                    <span>@Html.TextBoxFor(model => model.NewRequest)</span>
                    <span>@Html.ValidationMessageFor(model => model.NewRequest)</span>
                    <span><input type="submit" value="Senda inn" class="btn btn-default" /></span>
                </p>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Til baka", "Requests", "Request")
</div>
