@model IEnumerable<skjatextar.Models.Request>
@{
    ViewBag.Title = "Fyrirspurnir";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/scripts.js")"></script>
}
<div class="allTextToCenter">
    <p>@Html.ActionLink("Senda inn fyrirspurn", "AddNewRequest", new { @class = "btn" })</p>
    <br />
    <p>
        <span>@Html.ActionLink("Raða eftir fjölda atkvæða", "Requests") | </span>
        <span>@Html.ActionLink("Raða eftir dagsetningu", "RequestsByDate")</span>
    </p>
    <ul class="list-group requestList">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <p>
                    <span class="glyphicon glyphicon-user"> </span>
                    <span class="text-primary">@Html.DisplayFor(modelItem => item.Username)</span>   |   
                    <span class="text-muted">@item.RequestSent.ToString("dd.MM.yyyy. HH:mm") </span>
                </p>
                <p>
                    <span>@Html.DisplayFor(modelItem => item.NewRequest) </span>
                </p>
                <p>
                    <!-- Like takki -->
                    <span class="text-muted">Fjöldi atkvæða: @item.LikeCount - @Html.ActionLink("Like", "LikeFunction", new { id = item.ID }, null) </span><span class="glyphicon glyphicon-thumbs-up"></span>
                </p>
                <ul class="list-unstyled likes-for-id"></ul>
            </li>
        }
    </ul>
</div>
